<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <script src="/js/toggleMenu.js"></script>
    
    
</head>

<body>
    <main>

        <div class="Pagecontent">
            <header>
                <nav>
                    <button class="menu-button" onclick="toggleMenu()">☰ Menu</button>
                    <ul class="nav-links">
                        <li><a href="/workexperience">Work experience</a></li>
                        <li><a href="/aboutwe">About work experience</a></li>
                        <li class="divider">❖</li>
                        <li ><a href="/courses">Courses</a></li>
                        <li><a href="/mycourses">My courses</a></li>
                        <li class="currentPage"><a href="/about">About courses</a></li>
                    </ul>
                </nav>

            </header>

            <section class="welcome">
                <h1>About this Website</h1>
                <p>This website serves as a platform to be able to add/edit/update a course list database.
                    Each course contains a course code, a name, a syllabus link, and a progression level.</p>
                <p>The database server used for this website is SQLite3.</p>
                <p>The 'My courses' page is an extra page with a university course based CV for what I've studied so far and currently, it has no addional functionality besides listing my courses, unlike the more general Courses tab with full functionality.</p>
                <h2>Conclusions</h2>
                <p>Throughout the development of this website, several conclusions were drawn:</p>
                <ul>
                    <li>SQLite3 is a lightweight and efficient database solution for small to medium-scale web
                        applications. It was very easy to start using this one!</li>
                    <li>Express.js provides a framework for building web servers and handling HTTP requests.</li>
                    <li>Using EJS as the view engine allows for dynamic content generation and reuse of HTML templates.
                    </li>
                    <li>Client-side and server-side validation are essential for ensuring data integrity and preventing
                        errors.</li>
                    <li>Proper error handling and feedback mechanisms enhance the user experience and provide helpful
                        guidance in case of issues.</li>
                    <li>Publishing on Heroku was a nice experience. I had to remove the nodemon and get a port from the
                        heruko service, but after that, things were super easy.</li>
                </ul>

            </section>
            <section class="er-diagram">
                <h2>Entity-Relationship (ER) Diagram for main table: courses</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Column</th>
                            <th>Data Type</th>
                            <th>Constraints</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>INTEGER</td>
                            <td>Primary Key, Auto-Increment</td>
                        </tr>
                        <tr>
                            <td>courseCode</td>
                            <td>TEXT</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>courseName</td>
                            <td>TEXT</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>syllabus</td>
                            <td>TEXT</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>progression</td>
                            <td>CHAR(1)</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>created</td>
                            <td>TIMESTAMP</td>
                            <td>Default: CURRENT_TIMESTAMP</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="er-diagram">
                <h2>Entity-Relationship (ER) Diagram for additional table: mycourses</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Column</th>
                            <th>Data Type</th>
                            <th>Constraints</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>INTEGER</td>
                            <td>Primary Key, Auto-Increment</td>
                        </tr>
                        <tr>
                            <td>courseName</td>
                            <td>TEXT</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>courseCode</td>
                            <td>TEXT</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>points</td>
                            <td>REAL</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>grade</td>
                            <td>TEXT</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>completionDate</td>
                            <td>TEXT</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>rest</td>
                            <td>REAL</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>university</td>
                            <td>TEXT</td>
                            <td>Not Null</td>
                        </tr>
                        <tr>
                            <td>created</td>
                            <td>TIMESTAMP</td>
                            <td>Default: CURRENT_TIMESTAMP</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            
        </div>
        <footer>
            <p>&copy; 2024 <a href="mailto:joni2307@student.miun.se">joni2307@student.miun.se</a> All rights reserved.
            </p>
        </footer>
    </main>
</body>

</html>